<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>


<div class="field">
  <%= f.label :profile_picture %><br />
  <%= f.file_field :profile_picture %>
</div>

<div class="field">
  <%= f.text_field :username, placeholder:"username" %>
</div>

<div class="field">
  <%= f.email_field :email, placeholder:"email" %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="field">
  <%= f.password_field :password, autocomplete: "off", placeholder: "Password (Leave blank to remain unchanged)" %>
</div>

<div class="field">
  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
</div>

<div class="field">
  <%= f.password_field :current_password, autocomplete: "off", placeholder: "Confirm current password to save changes" %>
</div>

<div class="actions">
  <%= f.submit "Update" %>
</div>
<% end %>

