
<div class="row">
  <div class="small-12 columns username-comment">
    <li><%= link_to comment.user.username, comment.user %></li>
    <li><%= comment.comment %></li>
    <li class="time-comment-posted">
    <% if comment.user == current_user %>
    <%= link_to 'Delete Comment', comment_path(comment, commentable_type: commentable.class.to_s.underscore, commentable_id: commentable.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
      <%= "Posted " + time_ago_in_words(comment.created_at) + " ago" %>
    </li>
  </div>
  <div class="small-12 columns comment-rating">
    <%= comment.get_upvotes.size.to_s %>
    <%= link_to "", like_comment_path(comment), method: :put, class:"fa fa-chevron-circle-up" %>
    <%= link_to "", dislike_comment_path(comment), method: :put, class:"fa fa-chevron-circle-down" %>
  </div>
</div>
