<h1>Fugly User Profile Page</h1>

<%= image_tag @user.profile_picture, class:"profile_picture_show" %>
<%= @user.username %>
<%= @user.email %>

<% if @user != current_user %>
<%= link_to "Follow", like_user_path(@user), method: :put %>
<%= link_to "Unfollow", dislike_user_path(@user), method: :put %>
<% end %>

<h2>Following</h2>
<% @user.find_up_voted_items.each do |user| %>
<% if user.is_a? User %>
<%= link_to user.username, user_path(user) %>
<br />
<% end %>
<% end %>

<h2>Rated Up</h2>
<% @user.find_up_voted_items.each do |caption| %>
<% if caption.is_a? Comment %>
<%= caption.comment %>
<br />
<% end %>
<% end %>

<% if @user == current_user %>
<%= link_to "Edit My Profile", edit_user_registration_path %>
<% end %>


