<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @screenshot.screenshot_image %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @screenshot.movie %>
</p>

<p>
  <strong>Category:</strong>
  <%= @screenshot.category %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @screenshot.user.username, @screenshot.user %>
</p>

<% if @comments.size > 0 %>
  <% highest = 0 %>
  <% top_voted_caption = "" %>
  <% @comments.each do |caption| %>
    <% if caption.get_upvotes.size >= highest %>
      <% highest = caption.get_upvotes.size %>
      <% top_voted_caption = caption %>
    <% end %>
  <% end %>
  <%= top_voted_caption.comment %>
<% end %>


<%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @screenshot } %>


<%= render partial: 'comments/form', locals: { commentable: @screenshot } %>

<%= link_to 'Edit', edit_screenshot_path(@screenshot) %> |
<%= link_to 'Back', screenshots_path %>


