<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
    <%= message %>
  </div>
  <% end %>

  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation/foundation.js"></script>
  <script src="/js/foundation/foundation.topbar.js"></script>
  <script src="/js/vendor/fastclick.js"></script>

  <script>
    $(document).foundation();
  </script>

  <header>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">ScreenCapp</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><%= link_to "Screenshots", screenshots_path %></li>
          <li class="has-dropdown">
            <a href="#" class="drop-button">Right Button Dropdown</a>
            <ul class="dropdown">
              <li><%= link_to "My Profile", current_user %></li>
              <li><a href="#">First link in dropdown</a></li>
              <li class="active"><a href="#">Dropdown Active button</a></li>
            </ul>
          </li>
        </ul>


        <!-- Left Nav Section -->
<!--       <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul> -->
    </section>
  </nav>
</header>


<nav>
  <ul>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Screenshots", screenshots_path %></li>
    <% if current_user %>
    <li><%= link_to "New Screenshot", new_screenshot_path %></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to "Register", new_user_registration_path %></li>
    <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>

<main>
  <%= yield %>
</main>

</body>
</html>
